<section id="about" class="py-24 px-6 lg:px-16 bg-black">
    <div class="max-w-6xl mx-auto">
        <h2 class="section-heading">About Me</h2>
        <div class="grid md:grid-cols-10 gap-8 md:gap-12 mt-12">
            <div class="md:col-span-2">
                <div
                    class="profile-image-container aspect-square w-full max-w-md mx-auto md:mx-0 rounded-full border border-zinc-700 overflow-hidden">
                    <div class="w-full h-full">
                        {% if about.avatar %}
                        <img src="{{about.avatar}}" loading="lazy" alt="Mukesh Pandey" class="w-full h-full object-cover">
                        {% else %}
                        <div class="w-full h-full flex items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-1/2 h-1/2 text-gray-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="md:col-span-7 space-y-6 fade-in" style="animation-delay: 0.3s;">
                <p class="text-gray-300 text-base md:text-lg leading-relaxed">
                    {{about.about|safe}}
                </p>
            </div>
        </div>
    </div>
</section>