<section id="projects" class="py-24 px-6 lg:px-16 bg-zinc-950">
    <div class="max-w-6xl mx-auto">
        <h2 class="section-heading">Projects</h2>
        <div class="grid md:grid-cols-2 gap-8 mt-12 fade-in" style="animation-delay: 0.3s;">
            {% for project in projects %}
            <div class="bg-black border border-zinc-800 rounded-sm overflow-hidden hover-card group">
                <div class="h-56 md:h-80 lg:h-80 bg-zinc-800 relative overflow-hidden">
                    {% if project.image %}
                    <img src="{{project.image}}" loading="lazy" alt="{{project.title}}" class="w-full">
                    {% else %}
                    <div class="w-full h-full flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-24 h-24 lg:h-32 lg:w-32 text-gray-600" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                        </svg>
                    </div>
                    {% endif %}
                    <div
                        class="absolute inset-0 hidden group-hover:flex transition-all items-center justify-center"
                        style="transition-delay: 0.3s;">
                        <div class="backdrop-blur-sm bg-black/70 absolute inset-0 z-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300" style="transition-delay: 0.3s;"></div>
                        <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4 z-10">
                            <a href="{{project.demo_url}}" target="_blank"
                                class="bg-white text-black py-2 px-4 rounded-sm text-sm font-medium">See Demo</a>
                            <a href="{{project.source_url}}" target="_blank"
                                class="bg-transparent border border-white text-gray-100 py-2 px-4 rounded-sm text-sm font-medium">View</a>
                        </div>
                    </div>
                </div>
                <div class="p-6">
                    <h3 class="text-xl font-bold mb-2 font-mono">{{project.title|safe}}</h3>
                    <p class="text-gray-400 mb-4">{{project.description|safe}}</p>
                    <div class="flex flex-wrap gap-2 mb-4">
                        {% for skill in project.skill.all %}
                        <span class="tech-tag">{{skill.title}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>